a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
a:hover{
    color: rgb(62, 81, 143);
    box-shadow: 2px 2px 19px black;
}
.holder {
    display: flex;
    width: 100%;
    justify-self: center;
}
nav {
    display: flex;
    align-items: baseline;
    width: 100%;
    align-items: center;   
}
header {
    padding: 30px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 100;    
}
.search{
    width: 60%;
    margin-left: 10px;
    background-color: white;
    border: 2px solid lightgray;
    height: 30px;
    padding-left: 10px;
}
.searching{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.userimg{
    height: 15px;
    width: 15px;
}
.small_fr{
  justify-content: space-around;
  width: 176px;
  height: 35px;
  display: inline-flex;
  margin-left: 20px;
  align-items: center;
}
p{
    display: inline-block;
}

h1 {
    font-size: 23px;
    font-weight: 700px;
    color: black;
    display: inline;
}
body {
    padding-top: 200px;
    background-color: #4aa59730;
}
.height{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
}

.btn{
    height: 45px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    width: 90%;
}
.btn:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}

.holder_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background: #fff;
    height: 80%;
}
.input {
    width: 90%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid lightgray;
    padding-left: 10px;
    border-radius: 10px;
}
.input2{
    width: 49%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid lightgray;
    padding-left: 10px;
    border-radius: 10px;
}
.nah{
    width: 90%;
}
.choise{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid lightgray;
    padding-left: 10px;
    border-radius: 10px;
    background-color: white;
}
.discount-btn {
    
    margin-top: 10px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 32px;
    margin-top: 25px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    display: none;
}
.discount-btn:hover {
    background-color: #e68900;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}
.input3 {
    width: 90%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid lightgray;
    padding-left: 10px;
    padding-top: 7px;
    border-radius: 10px;
    display: block;
}
/* footer */
footer {
    border-top: 2px solid black;
    padding: 20px;
    width: 100%;
    height: 300px;
    background-color: #7621b0;
    display: flex;
    justify-content: space-around;
}
.foot{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.foots {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 19px;
}
h4 {
    font-size: 33px;
    font-weight: 500;
    color: white;
    margin-left: 8%;
}
.um{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.um:hover {
    box-shadow:none;
}