a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 24px;
}
a:hover{
    color: rgb(62, 81, 143);
    box-shadow: 2px 2px 19px black;
}
.holder {
    display: flex;
    width: 100%;
    justify-self: center;
}
.b {
    width: 150px;
}
nav {
    display: flex;
    width: 100%; 
    align-items: center;
}
header {
    padding: 30px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 100;    
}
.search{
    width: 60%;
    margin-left: 10px;
    background-color: white;
    border: 2px solid lightgray;
    height: 30px;
    padding-left: 10px;
}
.searching{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.userimg{
    height: 15px;
    width: 15px;
}
.small_fr{
  justify-content: space-around;
  width: 220px;
  height: 35px;
  display: inline-flex;
  margin-left: 20px;
  align-items: center;
}
p{
    display: inline-block;
}

h1 {
    font-size: 23px;
    font-weight: 700px;
    color: black;
    display: inline;
}
body {
  margin: 0px !important;
  padding-top: 200px;
  background-color: #47484830;
}
.choise {
    align-items: center;
    width: 160px;
    height: 35px;
    border-radius: 30px;
    margin-left: 100px;
    background-color: #B4D984;
    font-size: 28px;
}
.title {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin: 0px;
}
.take {
    margin-top: 50px;
}
.dis {
    border: 2px solid black;
    width: 100%;
    height: 380px;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid lightgray;
    resize: none;
    font-size: 20px;
    font-weight: 400;
}
.buy {
    width: 30%;
    height: 40px;
    border-radius: 30px;
    background-color: #154f39;
    font-size: 20px;
}
.add_item {
    margin-left: 50px;
    width: 30%;
    height: 40px;
    border-radius: 30px;
    background-color: #b0b0b0;
    font-size: 20px;
}
.whole {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 900px;
    flex-wrap: wrap;
}
.name {
    width: 50%;
    height: 900px;
}
.name2 {
    width: 725px;
    height: 900px;
    margin-left: 20px;
}
.price {
    width: 224px;
    height: 48px;
    font-weight: 400;
    font-size: 40px;
}
.img {
    width: 528px;
    height: 560px;
    margin-left: 20%;
    border: 2px solid black;
}
.yes {
    width: 30px;
    height: 30px;
}
/* footer */
footer {
    border-top: 2px solid black;
    padding: 20px;
    width: 100%;
    height: 350px;
    background-color: #7621b0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.foot{
    width: 350px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.foots {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 19px;
    align-items: center;
}
h4 {
    font-size: 33px;
    font-weight: 500;
    color: white;
    margin-left: 8%;
}
.um{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.um:hover {
    box-shadow:none;
}
.a{
    width: 300px;
}
@media (max-width: 1080px) {
    footer {
        height: 1000px;
    }
    .foot {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }
}
@media (max-width: 1470px) {
    .name {
        width: 100%;
        height: 500px;
        
    }
    .img {
        width: 500px;
        height: 500px;
        margin-left: 25%;
    }
    .name2 {
        padding-left: 20%;
        width: 100%;
        height: 500px;
        margin-left: 0px;
    }
    .whole {
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }
    .dis {
        width: 65%;
        height: 200px;
    }
}
@media (max-width: 850px) {
    .name {
        width: 100%;
        height: 500px;
    }
    .img {
        width: 500px;
        height: 500px;
        margin-left: 100px;
    }
    .name2 {
        padding-left: 15%;
        width: 100%;
        height: 500px;
        margin-left: 0px;
    }
    .whole {
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }
    .dis {
        width: 500px;
        height: 200px;
    }
    .search{
        width: 0px;
        height: 0px;
        margin: 0px;
        border: none;
    }
    .searching{
        width: 0px;
        height: 0px;
        margin-left: 0px;
    }
    
}
@media (max-width: 670px) {
    nav {
        margin-top: 10px;
    }
    p{
        font-size: 0px;
        width: 0px;
        height: 0px;
    }
    .buy {
        width: 80%;
        margin-left: 0px;
    }
    .add_item {
        width: 80%;
        margin-left: 0px;
    }
    .name {
        width: 100%;
        height: 500px;
    }
    .img {
        width: 500px;
        height: 500px;
        margin-left: 90px;
    }
    .name2 {
        padding-left: 15%;
        width: 100%;
        height: 500px;
        margin-left: 0px;
    }
    .whole {
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }
    .dis {
        width: 500px;
        height: 200px;
    }
    
}
/* @media (max-width: 690px) {
    header {
        padding: 10px;
    }
    footer {
        height: 1000px;
        flex-direction: column;
        align-items: center;
    }
    .small_fr {
        width: 150px;
        height: 30px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .search {
        width: 0px;
        height: 0px;
        padding: 0px;
        border: none;
    }
    .holder {
        margin-top: 0px;
    }
    a {
        font-size: 20px;
        margin-left: 10px;
    }
    .searching {
        width: 0px;
        height: 0px;
        margin-left: 0px;
    }
    .small_fr {
        width: 160px;
    }
    h1 {
        font-size: 18px;
    }
    .img {
        margin-left: 30px;
        height: 100%;
        width: 90%;
    }
    .name {
        width: 100%;
        height: 500px;
    }
    .dis{
        height: 200px;
        width: 90%;
        margin-left: 30px;
    }
    .title {
        font-size: 25px;
        margin-left: 40px;
    }
    div {
        margin-top: 10px;
    }
    .price {
        font-size: 30px;
        margin-left: 40px;
    }
    .choise {
        padding-bottom: 10px;
        margin-left: 40px;
        font-size: 25px;
        width: 150px;
    }
    .take {
        margin-top: 20px;
        margin-left: 30px;
    }
} */
@media (max-width: 575px) {
    p {
        font-size: 0px;
        width: 0px;
        height: 0px;
    }
    nav {
        margin-top: 10px;
    }
    .name2 {
        width: 100%;
        height: 500px;
        margin-left: 10px;
        padding: 0px;
    }
    .small_fr {
        width: 200px;
        margin-left: 20px;
    }
    .holder{
        margin-top: 0px;
        width: 100%;
    }
    .add_item {
        width: 95%;
        margin-left: 0px;
    }
    .buy {
        width: 95%;
        margin-left: 0px;
    }
    .dis {
        width: 95%;
        margin-left: 0px;
        height: 150px;
    }
    .img {
        margin-left: 15px;
        height: 390px;
        width: 350px;
    }
    .name {
        width: 100%;
        height: 400px;
    }
    footer{
        height: 1800px;
        flex-direction: row;
        align-items: center;
    }
}
@media (max-width: 1090px) {
    header {
        padding: 10px;
    }
    .holder{
      height: 100px;
    }
    .small_fr {
        width: 200px;
    }
    .search {
        width: 50%;
    }
    a{
      font-size: 24px;
      width: 100%;
    }
}
@media (max-width: 800px) {
    header {
        padding: 10px;
    }
    .holder{
      height: 100px;
    }
    .small_fr {
        width: 200px;
    }
    .search {
        width: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 0px;
        border: none;
    }
    .searching {
      width: 0px;
      height: 0px;
      margin-left: 0px;
    }
    a{
      font-size: 24px;
      width: 100%;
    }
  
}
@media (max-width: 600px) {
    header {
        padding: 10px;
    }
    p{
        font-size: 0px;
        width: 0px;
        height: 0px;
        margin: 0px;  
    }
    .holder{
      height: 100px;
    }
    .small_fr {
        width: 200px;
    }
    .search {
        width: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 0px;
        border: none;
    }
    .searching {
      width: 0px;
      height: 0px;
      margin-left: 0px;
    }
    a{
      font-size: 23px;
      width: 100%;
    }
  
}
@media (max-width: 520px) {
    header {
        padding: 10px;
    }
    p{
        font-size: 0px;
        width: 0px;
        height: 0px;
        margin: 0px;  
    }
    .holder{
      height: 100px;
    }
    .small_fr {
      margin: opx;
      padding: 0px;
        width: 160px;
    }
    .search {
        width: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 0px;
        border: none;
    }
    .searching {
      width: 0px;
      height: 0px;
      margin-left: 0px;
    }
    a{
      font-size: 19px;
      width: 100%;
    }
  
}
@media screen and (max-width: 460px) {
    .holder {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }  
    h1{
        font-size: 40px;
    }
  header {
        padding: 10px;
    }
    p{
        font-size: 0px;
        width: 0px;
        height: 0px;
        margin: 0px;  
    }
    .holder{
      height: 100px;
    }
    .small_fr {
      margin: opx;
      padding: 0px;
        width: 100%;
    }
    .search {
        width: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 0px;
        border: none;
    }
    .searching {
      width: 0px;
      height: 0px;
      margin-left: 0px;
    }
    a{
      font-size: 19px;
      width: 100%;
    }
  
}